downloads/
downloading/
uploadedTorrents/
storage.db.lock
storage.db
.torrent.bolt.db.lock
.torrent.bolt.db
.idea/torrent-project.iml
.idea/modules.xml
.idea/misc.xml
output.json
.idea/workspace.xml
.idea/vcs.xml
*.torrent
boltbrowser.win64.exe
logs/server.log
.goreleaser.yml
config.toml.backup
/public/static/js/kickwebsocket.js.backup