{{define "base"}}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>torrent-project</title>

        <link rel="stylesheet" href="/static/css/gridbase.css" type="text/css" />
        <script type="text/javascript" src="/static/js/tabControl.js"></script>
		<script type="text/javascript" src="/static/js/kickwebsocket.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
		<meta name='viewport' content='width=device-width, initial-scale=1.0'>


    </head>

    <body>

	<!-- The addlink Modal -->
	<div id="addTorrentLinkModal">


	</div>
	<!-- The addTorrent Modal -->
	<div id="addTorrentFileModal" class="addTorrentModal">

	  <!-- Modal content -->
	  <div class="addTorrentModalContent">
		<span class="addTorrentFileModalClose">&times;</span>
		Input Torrent File: <input type="file" name="torrentFile">
		<button id="torrentFileSubmit">Submit</button>
	  </div>

	</div>
		<div class="wrapper">
			<div class="box navcolumn">
				<hr>
				<ul class="none">
                    <li class="liNavcolumn" id="allTorrents"><img class="navcolumnImage" src="/static/images/iconTorrent.png" alt="All Torrents">All Torrents</li>
					<li class="liNavcolumn" id="downloading"><img class="navcolumnImage" src="/static/images/iconDownload.png" alt="Downloading Torrents">Downloading</li>
					<li class="liNavcolumn" id="uploading"><img class="navcolumnImage" src="/static/images/iconUpload.png" alt="Uploading Torrents">Uploading</li>
					<li class="liNavcolumn" id="active"><img class="navcolumnImage" src="/static/images/iconActiveTorrents.png" alt="Active Torrents">Active</li>
					<li class="liNavcolumn" id="inactive"><img class="navcolumnImage" src="/static/images/iconInactiveTorrents.png" alt="Inactive Torrents">Inactive</li>
				</ul>
				<hr>
			</div>
			<div id="navSettingsID" class="box navsettings">
				
			</div>

			 <div id="torrentlist" class="box">
			
			 </div>


			<div class="box torrentdetails">
				
				<div>
					<button class="tablink activeButton" onclick="openTab(event, 'General')">General</button>
					<button class="tablink" onclick="openTab(event, 'Peers')">Peers</button>
					<button class="tablink" onclick="openTab(event, 'Files')">Files</button>
					<button class="tablink" onclick="openTab(event, 'Speed')">Speed</button>
					<button class="tablink" onclick="openTab(event, 'Logger')">Logger</button>
				</div>
				
				
				
				<div id="General" class="tab defaultTab">
					<h2>General</h2>
					<p id="hash"></p>
					<p>General Information</p>
				</div>
				
				<div id="Peers" class="tab">
					<h2>Peers</h2>
					<table>
						<tr>
							<th>IP</th>
							<th>Client</th>
							<th>Flags</th>
							<th>Percent</th>
							<th>Down Speed</th>
							<th>Up Speed</th>
							<th>Reqs</th>
							<th>Uploaded</th>
							<th>Downloaded</th>
							<th>Peer dl.</th>
						</tr>
					</table>
				</div>	
			
				<div id="Files" class="tab">
					<h2>Files</h2>
					<table>
						<tr>
							<th>Name</th>
							<th>Size</th>
							<th>Done</th>
							<th>Percent</th>
							<th>Priority</th>
						</tr>
					</table>
				</div>
			
				<div id="Speed" class="tab">
					<h2>Speed</h2>
					<p>Speed Graph Here</p>
				</div>
			
				<div id="Logger" class="tab">
					<h2>Logger</h2>
					<p id="loggerData">Logger lines here</p>
				</div>
			
			</div>
		</div>


	<script type="text/javascript" src="/static/js/bundle.js"></script>
	<script type="text/javascript">console.log('Here');</script>
	<footer>Icons by <a href="https://icons8.com">icons8</a></footer>
	</body>
</html>
{{end}}