{{define "base"}}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>goTorrent</title>
		<link rel="icon" href="static/favicon/goTorrentFavicon.ico">
		<script type="text/javascript" src="static/js/kickwebsocket-generated.js"></script>
		<meta name='viewport' content='width=device-width, initial-scale=1.0'>
    </head>
    <body>
	<div id=app></div>
	<script type="text/javascript" src="static/js/bundle.js"></script>
	</body>
</html>
{{end}}