{{define "base"}}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>torrent-project</title>

		<script type="text/javascript" src="/static/js/kickwebsocket.js"></script>
		<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"> -->
		<!-- <script src="http://code.jquery.com/jquery-2.1.3.min.js"></script> -->
		<meta name='viewport' content='width=device-width, initial-scale=1.0'>


    </head>

    <body>
	<div id=app></div>

	
	

	<script type="text/javascript" src="/static/js/bundle.js"></script>
	</body>
</html>
{{end}}